.side{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
    

    h2{
        color: $light-gray;
    }

    .event{
        box-shadow: 0 0.25rem 0.5rem 0 rgba(235, 235, 235, 0.699);
        width: 80%;
        border-radius: 0.3125rem;
        transition: transform 0.3s ease-in-out;
        
        .container{
            padding: 0.125rem 1rem;
            h3{
                color: $bright-red;
            }
            h4{
                color: $light-gray;
            }
        }
        

        img{
            width: 70%;
            
        }

        &:hover{
            transform: scale(1.06);
        }
    }
}